span.active {
    border-bottom: 3px solid #00d100;
}

span.correct {
    background-color: #00d100;
    color: #fff;
}

span.wrong {
    color: darkred;
    background-color: pink;
}

.blur-md {
    filter: blur(4px);
}